@model WinterStore_Mvc.Models.Customers


@{
    ViewBag.Title = "EditCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center"><i class="bi bi-pencil-square mr-2 col-md-1"></i>Edit Customer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal bg-dark py-3 text-light m-2" style="border-radius:5px">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CustomerID)

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">First Name :</label>
                    <div class="col">
                        @Html.EditorFor(model => model.CustomerFirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerFirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Last Name :</label>
                    <div class="col">
                        @Html.EditorFor(model => model.CustomerLastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerLastName, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <label class="control-label col-md-4">Email Address :</label>
                    <div class="col">
                        @Html.EditorFor(model => model.CustomerEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>


        <div class="form-group">
            <label class="control-label col-md-3">Address :</label>
          <div class="col-md-12">
                @Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">City :</label>
                  <div class="col">
                        @Html.EditorFor(model => model.CustomerCity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerCity, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">State :</label>
                    <div class="col">
                        @Html.EditorFor(model => model.CustomerState, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerState, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Zip Code :</label>
                    <div class="col">
                        @Html.EditorFor(model => model.CustomerZip, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerZip, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Mobile No :</label>

                    <div class="col">
                        @Html.EditorFor(model => model.CustomerPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerPhone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-12" style="text-align:center" >
                <input type="submit" value="Update Details" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-outline-danger" href="@Url.Action( "Index","Customer")">Back To List</a>
</div>
