@{
    string username = (string)Session["username"];
    int id = (int)Session["userid"];
}

<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
        <b>

            @Html.ActionLink("WinterStore", "Index", "Home", new { area = "" }, new { @class = "nav-item text-light m-2", @style = "text-decoration: none;font-size:20px" })
        </b>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav mr-auto">
                <li>
                    @Html.ActionLink("Home", "Index", "UserHome", new { area = "" }, new { @class = "nav-item text-light m-2", @style = "text-decoration: none;" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Men", "Men", "UserHome", new { area = "" }, new { @class = "nav-item text-light m-2", @style = "text-decoration: none;" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Women", "Women", "UserHome", new { area = "" }, new { @class = "nav-item text-light m-2", @style = "text-decoration: none;" })

                </li>
                <li class="nav-item">
                    @Html.ActionLink("Kids", "Kids", "UserHome", new { area = "" }, new { @class = "nav-item text-light m-2 ", @style = "text-decoration: none;" })

                </li>
                <li class="nav-item">
                    @*@Html.ActionLink("Orders", "MyOrder", "Order", new { id = id }, new { @class = "nav-item text-light m-2", @style = "text-decoration: none;" })*@

                </li>
                <li class="nav-item">
                    @Html.ActionLink("Profile", "MyProfile", "Customer", new { id = id }, new { @class = "nav-item text-light m-2", @style = "text-decoration: none;" })

                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "nav-item text-light m-2", @style = "text-decoration: none;" })

                </li>
                <li class="nav-item">
                    @Html.ActionLink("About Us", "About", "Home", new { area = "" }, new { @class = "nav-item text-light m-2", @style = "text-decoration: none;" })

                </li>

            </ul>

            <div class="form-inline">

                <h5 class="m-3">
                    <i class="bi bi-person-fill"></i><span class="ml-2 text-center mt-2">
                        <i>
                            Hello,<b>
    @username
</b>
                        </i>
                    </span>
                </h5>


                @Html.ActionLink(" Cart", "Index", "Cart", new { area = "" }, new { @class = "bi bi-cart btn btn-outline-light", @style = "text-decoration: none;" })
                @Html.ActionLink(" Logout", "Logout", "Login", new { area = "" }, new { @class = "bi bi-box-arrow-right btn btn-outline-danger ml-2", @style = "text-decoration: none;" })

            </div>
        </div>

    </nav>

    <div class="container mt-5 mb-5">
        @RenderBody()
    </div>
    <footer class="bg-dark w-100 text-center text-light" style="position: relative; bottom:0; height: 50px">
        <h5 class="m-auto py-2">&copy; All Rights Reserved By WinterStore since 2022 - @DateTime.Now.Year</h5>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
